.statistics {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: white;
}
.title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}
.statList {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 4);
  text-align: center;
  padding: 20px 0px;
  color: #ffffff;
}
.label {
  font-size: 16px;
  margin-bottom: 10px;
}
.percentage {
  font-size: 18px;
}
